<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<meta name="viewport" content="initial-scale=1"/>
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">

	<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap-theme.min.css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<style type="text/css">html,*{filter: none;}</style>
	<![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">LiquidRound</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">List Shares</a></li>
				<li><a href="#">Find A Company</a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="login"><a href="#"><span class="glyphicon glyphicon-user"></span>Admin</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<main>
	<div class="container">
		<div class="row">
			<div class="col-md-12 buy_offer">
				<p>Equity Listing</p>
				<form action="" class="form-horizontal">
					<div class="row">
						<div class="col-md-5 first-big">
							<div class="form-group">
								<div class="col-sm-12">
									<select class="form-control select2">
										<option>Enter or Select Business</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="Industry" class="col-sm-4 control-label">Industry:</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="Industry" placeholder="eg. Consumer Tech">
								</div>
							</div>
							<div class="form-group">
								<label for="SharesWanted" class="col-sm-4 control-label">Country:</label>
								<div class="col-sm-8">
									<select id="SharesWanted" class="form-control">
										<option>Select</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-md-offset-2 first-big">
							<div class="form-group">
								<label for="Website" class="col-sm-4 control-label">Website:</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="Website" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="SpecificRole" class="col-sm-4 control-label">Specific Role:</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="SpecificRole" placeholder="eg. Ingredient Delivery">
								</div>
							</div>
							<div class="form-group">
								<label for="PricePerShare" class="col-sm-4 control-label">City:</label>
								<div class="col-sm-8">
									<select id="PricePerShare" class="form-control">
										<option>Select</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 check">
							<p>Share Details</p>
							<div class="row">
								<div class="col-md-3">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Pre-emption Rights
										</label>
									</div>
								</div>
								<div class="col-md-3">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Voting Rights
										</label>
									</div>
								</div>
								<div class="col-md-3">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Share Class A
										</label>
									</div>
								</div>
								<div class="col-md-3">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Share Class B
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-sm-5">
									<select class="form-control">
										<option>Select Current Funding Stage</option>
										<option>Series A</option>
										<option>Series B</option>
										<option>Series C</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
								<label for="SharesAvailable" class="col-sm-4 control-label">Shares Available:</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="SharesAvailable" placeholder="">
								</div>
							</div>
						</div>
						<div class="col-md-5 col-md-offset-2">
							<div class="form-group">
								<label for="PricePerShare2" class="col-sm-4 control-label">Price per share:</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="PricePerShare2" placeholder="£00.00">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<a href="#" class="btn btn-default" role="button">List</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<!-- END out-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>