<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<meta name="viewport" content="initial-scale=1"/>
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">

	<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap-theme.min.css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<style type="text/css">html,*{filter: none;}</style>
	<![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">LiquidRound</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">List Shares</a></li>
				<li><a href="#">Find A Company</a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="login"><a href="#"><span class="glyphicon glyphicon-user"></span>Administrator</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<main>
	<div class="container">
		<div class="row for_response">
			<div class="col-md-12 response">
				<p>User 1 contacted User 2 to enquire about purchasing User 2's share in Business 3</p>
				<div>
					<a href="#">Contact User 1</a>
					<a href="#">Contact User 2</a>
				</div>
			</div>
			<div class="col-md-12 response">
				<p>User 3 contacted User 4 to enquire about purchasing User 4's share in Business 5</p>
				<div>
					<a href="#">Contact User 3</a>
					<a href="#">Contact User 4</a>
				</div>
			</div>
			<div class="col-md-12 response">
				<p>User 6 contacted User 7 to enquire about purchasing User 7's share in Business 8</p>
				<div>
					<a href="#">Contact User 6</a>
					<a href="#">Contact User 7</a>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- END out-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>