<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<meta name="viewport" content="initial-scale=1"/>
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">

	<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap-theme.min.css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<style type="text/css">html,*{filter: none;}</style>
	<![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">LiquidRound</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">List Shares</a></li>
				<li><a href="#">Find A Company</a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="login"><a href="#"><span class="glyphicon glyphicon-user"></span>Login</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<main>
	<div class="container selfCertific">
		<div class="row">
			<div class="col-md-12">
				<p>To complete registration you must self-certify as either a High Net Worth or Sophisticated Investor</p>
				<p>Warning and qualifying details of HNW/Sophisticated Investors to go here</p>
			</div>
		</div>
		<div class="row">
			<form action="" class="col-md-5 col-md-offset-4">
				<div class="checkbox">
					<label>
						<input type="checkbox"> I certify that I am a High Net Worth Investor OR
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> I certify that I am a qualified Sophisticated Investor
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> I agree to the terms above and recognise that investing in private stocks carries a number of unique risks
					</label>
				</div>
				<a href="#" class="btn btn-default" role="button">Complete Registration</a>
			</form>
		</div>
	</div>
</main>
<!-- END out-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>