form{
  .form-group{
   &.has-error {
      .error-msg {
        color: #a94442;
      }
    }
  }

  li {
    list-style: none;
  }
}

.list{
  padding-top: 100px;
  h1{
    font-size: 30px;
    color: #000000;
    line-height: 45px;
  }
  ul{
    li{
      list-style: disc;
    }
  }
}
.register{
  h2{
    text-align: center;
    line-height: 30px;
  }
  p{
    text-align: center;
    line-height: 25px;
  }
  form{
    //width: 700px;
    margin-top: 50px;
    display: block;
    text-align: center;
    .form-group{
      margin-bottom: 25px;
    }
  }
}
.selfCertific{
  padding: 40px 0;
  p{
    text-align: center;
    margin-bottom: 30px;
  }
  form{
    padding: 80px 0 0 0;
    .btn{
      margin: 30px 0 0 100px;
    }
  }
}
.login{
  a{
    position: relative;
    span{
      font-size: 20px;
      position: absolute;
      left: -15px;
      top: 15px;
    }
  }
}
.image{
  width: 100%;
  img{
    width: 100%;
  }
}
.title-block{
  text-align: center;
  padding: 30px 0;
}
.product{
  padding-top: 15px;
  margin-bottom: 15px;
  .col-md-2{
    text-align: center;
    p{
      margin-bottom: 20px;
    }
    span:before{
      font-size: 25px;
    }
  }
  img{
    min-height: 80px;
    max-height: 85px;
  }
}
.filter{
  position: relative;
  p{
    font-size: 24px;
  }
  .form-control{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
  }
}
.trade_history{
  font-style: italic;
  margin-top: 40px;
  p{
    text-align: center;
  }
  table{
    width: 100%;
  }
}
.equity{
  &>p{
    text-align: center;
    font-weight: 600;
  }
  &>div{
    margin-bottom: 15px;
    p{
      margin-bottom: 0;
    }
  }
}
.slider{
  margin-bottom: 20px;
  img{
    min-width: 100%;
  }
}
.for_icons{
  margin: 35px -15px 15px;
  p{
    position: relative;
  }
  span{
    font-size: 25px;
    margin: 0 0 0 2px;
  }
}
.info_company{
  &>p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
  &>a{
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }
  div{
    margin-top: 20px;
    display: block;
    &.mb{
      margin-bottom: 55px;
    }
    p{
      margin-bottom: 0;
    }
    a:not([href="#"]){
      display: block;
      position: relative;
      text-align: center;
      line-height: 30px;
      margin-top: 30px;
      color: #000000;
      span{
        position: absolute;
        left: 50%;
        top: -20px;
        margin-left: -12px;
        font-size: 24px;
      }
    }
  }
}
.send_request{
  .modal-body{
    &>p{
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      margin: 0 0 30px;
    }
    .checkbox{
      text-align: center;
      margin: 15px 0;
    }
  }
  .modal-footer{
    text-align: center;
  }
}
.buy_offer{
  &>p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 0;
  }
  &>span{
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  form{
    margin: 50px 0;
    p{
      margin: 10px 5px;
    }
    .form-group{
      margin-bottom: 30px;
    }
    .first-big .form-group:first-child{
      height: 100px;
    }
    textarea{
      resize: none;
    }
    input[type="file"]{
      display: none;
    }
    .upload{
      margin: 20px -15px;
      label{
        display: block;
        text-align: center;
      }
      p{
        float: left;
      }
    }
    .check{
      margin-bottom: 30px;
      &>p{
        text-align: center;
        font-weight: 600;
        margin: 15px 0;
      }

    }
  }
}
.about{
  padding-top: 40px;
  ul{
    li{
      display: block;
      a{
        display: block;
        line-height: 25px;
      }
    }
  }
  .video{
    .title{
      text-align: center;
      font-size: 24px;
      font-weight: 600;
    }
    iframe{
      margin-top: 15px;
      padding: 0;
    }
  }
}
.more_btn{
  margin: 20px 0;
  a:first-child{
    float: left;
  }
  a:last-child{
    float: right;
  }
}
.connect{
  text-align: center;
  a{
    display: inline-block;
  }
}
.infoPeople{
  text-align: center;
}
.profile{
  margin: 30px -15px 50px;
}
.red{
  color: red;
}
.tab-pane{
  &>p{
    text-align: center;
    font-size: 16px;
    margin: 15px 0;
    font-weight: 600;
  }
  table{
    width: 100%;
    margin-bottom: 30px;
    td{
      text-align: center;
      line-height: 25px;
      padding: 0 5px;
    }
    tbody{
      tr{
        td:first-child{
          text-align: left;
        }
      }
    }
    thead{
      td{
        font-weight: 600;
      }
    }
    p{
      margin-bottom: 0;
      font-size: 11px;
    }
  }
}
.messages{
  p{
    text-align: left;
    span{
      margin-right: 10px;
    }
  }
  .btn{
    margin: 20px 0;
  }
  table{
    tr{
      td{
        text-align: left;
      }
    }
  }
}
.actions{
  p{
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
    margin: 20px 0;
  }
  table{
    width: 100%;
    td{
      line-height: 25px;
    }
  }
}
.for_response{
  margin: 30px -15px;
}
.response{
  padding: 15px;
  p{
    padding-left: 20px;
    margin-bottom: 15px;
  }
  a{
    display: inline-block;
    margin: 0 10px;
  }
}
.company{
  border-top: 1px solid #cccccc;
  padding: 10px 15px;
  margin-top: 15px;
  &:first-child{
    border-top: none;
  }
  p{
    margin-bottom: 0;
  }
  .links{
    a{
      display: block;
      text-align: right;
      line-height: 35px;
    }
  }
  .files{
    p{
      display: inline-block;
      margin-right: 15px;
    }
    a{
      display: inline-block;
      margin: 0 5px;
      span{
        font-size: 25px;
        position: relative;
        top: 6px;
        color: #000000;
      }
    }
  }
}
.modal-header{
  border-bottom: none;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

.blog-trending {
  label.checkbox {
    margin-left: 19px;
  }
}
a.logo {
  img {
    max-width: 150px;
  }
}

.loginbar {
  li {
    position: relative;
    padding-left: 10px;
    padding-right: 9px;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 3px;
      height: 10px;
      border-right: 1px solid #999;
      color: #999;
      right: 0
    }

    &:nth-last-child(1) {
      padding-right: 0px;
      &::after {
        display: none;
      }
    }
  }
}