# Latest Django and dependencies
Django
Pillow
django-imagekit
django-jinja
django-pipeline
django-resized
Jinja2
MarkupSafe
six

# Additional modern packages
django-cors-headers
python-decouple
whitenoise

