<p>Welcome to LiquidRound</p>

<p>Dear {{ name }},</p>

<p>Thank you for registering with us at LiquidRound. You are now free to trade equity on our platform along with a growing number of investors looking to facilitate and benefit from innovation in the private sector. </p>

<p>You need to confirm your email by clicking link below:</p>

<p><a href="{{ link }}">{{ link }}</a></p>

<p>Please let us know if you have any questions.</p>

<p>All the best and happy investing.</p>

<p>Rory<br>
CEO, LiquidRound</p>