<p>Dear {{ user_name }},</p>
<p>Your listing has passed it's two month expiration date. Please click on the link below if you would like to relist your stock. Alternatively please let us know if you have completed a transaction or take no action if you would no longer like to trade.</p>
<p><a href="http://liquidround.dev.4-com.pro/listing/prolong/{{ code }}/">http://liquidround.dev.4-com.pro/listing/prolong/{{ code }}/</a></p>
<p>Please let us know if you have any questions.</p>
<p>All the best,<br />
LiquidRound Administration Team</p>